In [13]:
# Import dependencies
import pandas as pd
import numpy as np
import sklearn
import os
import seaborn as sns
from path import Path

In [14]:
# Load data CSV
file_path = Path('Resources/merged.csv')
data_df = pd.read_csv(file_path, encoding="utf-8-sig")
data_df.head()

,ID,entidad,tipo,link,precio,municipio_x,colonia,m2Terreno,m2Construccion,estacionamientos,...,antiguedad,id,nombre,municipio_y,asentamiento,codigo_postal,latitud,longitud,nombreMun,estado
0,1425548080,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1425548080-...,6500000.0,Aguascalientes,Los Pocitos,320.0,200.0,2.0,...,2.0,1001563.0,Los Pocitos,1001.0,Ejido,20328.0,21.923098,-102.343269,Aguascalientes,Aguascalientes
1,1397663987,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1397663987-...,1990000.0,Aguascalientes,Puesta del Sol,119.0,112.0,2.0,...,0.0,1001553.0,Puesta del Sol,1001.0,Fraccionamiento,20326.0,21.877844,-102.332252,Aguascalientes,Aguascalientes
2,1398422703,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1398422703-...,2750000.0,Aguascalientes,La Cantera,178.0,163.0,2.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1413775652,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1413775652-...,3000000.0,Aguascalientes,Ejido El Refugio de Peñuelas,640.0,150.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1411133552,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1411133552-...,1280000.0,Aguascalientes,Real De Haciendas,75.0,135.0,1.0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data_df = data_df.drop(['ID', 'link', 'colonia', 'mantenimiento', 'symbol', 'id', 'nombre', 'municipio_y', 'asentamiento', 'codigo_postal', 'nombre', 'nombreMun', 'estado'], axis=1)

In [16]:
casas_df = data_df.loc[(data_df['tipo'] == 'casas')]

In [17]:
casas_df = casas_df.drop(['tipo'], axis=1)
casas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120278 entries, 0 to 124175
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   entidad           120278 non-null  object
 1   precio            120278 non-null  float64
 2   municipio_x       120278 non-null  object
 3   m2Terreno         112912 non-null  float64
 4   m2Construccion    75241 non-null   float64
 5   estacionamientos  52779 non-null   float64
 6   Recamaras         77437 non-null   float64
 7   Banos             78264 non-null   float64
 8   antiguedad        60111 non-null   float64
 9   latitud           42502 non-null   float64
 10  longitud          42502 non-null   float64
dtypes: float64(9), object(2)
memory usage: 11.0+ MB

In [18]:
casas_df = casas_df.drop(['municipio_x'], axis=1)
casas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120278 entries, 0 to 124175
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   entidad           120278 non-null  object
 1   precio            120278 non-null  float64
 2   m2Terreno         112912 non-null  float64
 3   m2Construccion    75241 non-null   float64
 4   estacionamientos  52779 non-null   float64
 5   Recamaras         77437 non-null   float64
 6   Banos             78264 non-null   float64
 7   antiguedad        60111 non-null   float64
 8   latitud           42502 non-null   float64
 9   longitud          42502 non-null   float64
dtypes: float64(9), object(1)
memory usage: 10.1+ MB

In [21]:
casas_df.estacionamientos.value_counts()

 2.0      25996
 1.0      14396
 3.0       5489
 4.0       3663
 6.0       1081
 5.0        862
 8.0        356
 10.0       337
 7.0        192
 12.0        82
 15.0        81
 9.0         60
 20.0        37
 13.0        17
 50.0        15
 11.0        12
 30.0        12
 16.0        11
 18.0        10
 14.0         9
 734.0        7
 40.0         7
 95.0         4
 17.0         3
 33.0         3
 100.0        3
 22.0         2
 25.0         2
 0.0          2
 60.0         2
 72.0         2
 35.0         2
 126.0        1
 24.0         1
 150.0        1
 48.0         1
 64.0         1
 32.0         1
 140.0        1
 250.0        1
 27.0         1
 70.0         1
 45.0         1
 55.0         1
 110.0        1
 146.0        1
-5.0          1
 28.0         1
-2.0          1
 410.0        1
 80.0         1
 19.0         1
 43.0         1
 200.0        1
Name: estacionamientos, dtype: int64

In [10]:
casas_df = casas_df.replace({1994.0:28, 2010:12, 1982.0:40, 1981.0:41, 1962.0:60, 1971.0:51, 2020.0:2, 2021.0:1, 1985.0:37, 1996.0:26, 2014.0:8,
                            2009.0:13, 2012:10, 2000.0:22, 1992.0:30, 1987.0:35, 2022.0:0, 2001.0:21, 1997.0:25, 2013.0:9, 2019.0:3, 2007.0:15,
                            2005.0:17, 2017.0:5, 1990.0:32, 2004.0:18, 2002.0:20, 1972.0:50, 2018.0:4, 2016.0:6, 2015.0:7, 2006.0:16, 2008.0:14,
                            1984.0:38, 2011.0:11, 2023.0:0})

In [12]:
# Generate categorical list
casas_cat = casas_df.dtypes[casas_df.dtypes == 'object'].index.tolist()

# Check the number of unique values in each column
casas_df[casas_cat].nunique()

entidad          32
municipio_x    1011
dtype: int64

In [11]:
casas_df.antiguedad.value_counts()

0.0      36104
1.0       3308
12.0      1880
2.0       1820
10.0      1778
         ...
202.0        1
483.0        1
90.0         1
92.0         1
250.0        1
Name: antiguedad, Length: 102, dtype: int64

In [6]:
casas_df.drop(casas_df[casas_df['estacionamientos'] >= 70].index, inplace=True)
casas_df.drop(casas_df[casas_df['estacionamientos'] < 0].index, inplace=True)
casas_df.drop(casas_df[casas_df['Recamaras'] >= 30].index, inplace=True)
casas_df.drop(casas_df[casas_df['Banos'] >= 20].index, inplace=True)
casas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120179 entries, 0 to 124175
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   entidad           120179 non-null  object
 1   precio            120179 non-null  float64
 2   municipio_x       120179 non-null  object
 3   m2Terreno         112818 non-null  float64
 4   m2Construccion    75146 non-null   float64
 5   estacionamientos  52714 non-null   float64
 6   Recamaras         77346 non-null   float64
 7   Banos             78177 non-null   float64
 8   antiguedad        60028 non-null   float64
 9   latitud           42465 non-null   float64
 10  longitud          42465 non-null   float64
dtypes: float64(9), object(2)
memory usage: 11.0+ MB

In [7]:
casas_df = casas_df.replace({1994.0:28, 2010:12, 1982.0:40, 1981.0:41, 1962.0:60, 1971.0:51, 2020.0:2, 2021.0:1, 1985.0:37, 1996.0:26, 2014.0:8,
                            2009.0:13, 2012:10, 2000.0:22, 1992.0:30, 1987.0:35, 2022.0:0, 2001.0:21, 1997.0:25, 2013.0:9, 2019.0:3, 2007.0:15,
                            2005.0:17, 2017.0:5, 1990.0:32, 2004.0:18, 2002.0:20, 1972.0:50, 2018.0:4, 2016.0:6, 2015.0:7, 2006.0:16, 2008.0:14,
                            1984.0:38, 2011.0:11, 2023.0:0})

In [8]:
casas_df['Banos'] = casas_df['Banos'].fillna(0)
casas_df['estacionamientos'] = casas_df['estacionamientos'].fillna(0)
casas_df['Recamaras'] = casas_df['Recamaras'].fillna(0)

In [9]:
casas_df = casas_df.dropna()
casas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17675 entries, 0 to 124031
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           17675 non-null  object
 1   precio            17675 non-null  float64
 2   municipio_x       17675 non-null  object
 3   m2Terreno         17675 non-null  float64
 4   m2Construccion    17675 non-null  float64
 5   estacionamientos  17675 non-null  float64
 6   Recamaras         17675 non-null  float64
 7   Banos             17675 non-null  float64
 8   antiguedad        17675 non-null  float64
 9   latitud           17675 non-null  float64
 10  longitud          17675 non-null  float64
dtypes: float64(9), object(2)
memory usage: 1.6+ MB

In [10]:
casas_df = casas_df.drop(['municipio_x'], axis=1)
casas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17675 entries, 0 to 124031
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           17675 non-null  object
 1   precio            17675 non-null  float64
 2   m2Terreno         17675 non-null  float64
 3   m2Construccion    17675 non-null  float64
 4   estacionamientos  17675 non-null  float64
 5   Recamaras         17675 non-null  float64
 6   Banos             17675 non-null  float64
 7   antiguedad        17675 non-null  float64
 8   latitud           17675 non-null  float64
 9   longitud          17675 non-null  float64
dtypes: float64(9), object(1)
memory usage: 1.5+ MB

In [11]:
from sklearn.preprocessing import LabelEncoder
# Use labelencoder to convert tipo into integers
casas_df['entidad'] = LabelEncoder().fit_transform(casas_df['entidad'])

In [12]:
casas_df = casas_df.drop(['latitud', 'longitud'], axis=1)
casas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17675 entries, 0 to 124031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           17675 non-null  int32
 1   precio            17675 non-null  float64
 2   m2Terreno         17675 non-null  float64
 3   m2Construccion    17675 non-null  float64
 4   estacionamientos  17675 non-null  float64
 5   Recamaras         17675 non-null  float64
 6   Banos             17675 non-null  float64
 7   antiguedad        17675 non-null  float64
dtypes: float64(7), int32(1)
memory usage: 1.1 MB

In [13]:
casas_df = casas_df.drop(['m2Terreno'], axis=1)
casas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17675 entries, 0 to 124031
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           17675 non-null  int32
 1   precio            17675 non-null  float64
 2   m2Construccion    17675 non-null  float64
 3   estacionamientos  17675 non-null  float64
 4   Recamaras         17675 non-null  float64
 5   Banos             17675 non-null  float64
 6   antiguedad        17675 non-null  float64
dtypes: float64(6), int32(1)
memory usage: 1.0 MB

In [14]:
corr_matrix = casas_df.corr()
corr_matrix['precio'].sort_values(ascending=False)

precio              1.000000
Banos               0.054888
estacionamientos    0.049071
Recamaras           0.030934
m2Construccion      0.002020
antiguedad          0.001730
entidad            -0.010523
Name: precio, dtype: float64

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(casas_df)

StandardScaler()

In [16]:
scaled_data = scaler.transform(casas_df)
transformed_scaled_data = pd.DataFrame(scaled_data, columns=casas_df.columns)
transformed_scaled_data.head()

,entidad,precio,m2Construccion,estacionamientos,Recamaras,Banos,antiguedad
0,-1.540257,0.008967,-0.056853,0.253729,-0.013991,0.875204,-0.278955
1,-1.540257,-0.067353,-0.064573,0.253729,-0.013991,0.184644,-0.439112
2,-1.540257,-0.061431,-0.055976,-0.713105,-0.013991,0.184644,-0.278955
3,-1.540257,-0.085647,-0.065626,0.253729,-0.013991,-0.505916,-0.359034
4,-1.540257,-0.085647,-0.065626,0.253729,-0.013991,-0.505916,-0.359034

In [17]:
corr_matrix = transformed_scaled_data.corr()
corr_matrix['precio'].sort_values(ascending=False)

precio              1.000000
Banos               0.054888
estacionamientos    0.049071
Recamaras           0.030934
m2Construccion      0.002020
antiguedad          0.001730
entidad            -0.010523
Name: precio, dtype: float64

In [18]:
# Define target
y = transformed_scaled_data['precio']
X = transformed_scaled_data.drop(columns='precio')

In [19]:
from sklearn import preprocessing
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [20]:
from sklearn.model_selection import train_test_split
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, test_size=0.2, random_state=1)

In [21]:
from sklearn.preprocessing import StandardScaler
# Create StandardScaler instance
scaler = StandardScaler()
# Fit Standard Scaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
from sklearn.ensemble import RandomForestClassifier
# Creating the decision tree classifier instance
model = RandomForestClassifier(n_estimators=100, random_state=1)

# Fitting the model
model = model.fit(X_train_scaled, y_train)

MemoryError: could not allocate 391905280 bytes

In [ ]:
# Making predictions
predictions = model.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import accuracy_score
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
acc_score