In [32]:
import pandas as pd
import numpy as np

In [60]:
## Read file by city
csvfile = './Resources/colonias.csv'
colonias_df = pd.read_csv(csvfile)
colonias_df.head()

,id,nombre,municipio,asentamiento,codigo_postal,latitud,longitud
0,10011,Zona Centro,1001,Colonia,20000,21.881191,-102.296143
1,10012,Colinas del Rio,1001,Fraccionamiento,20010,21.894022,-102.313606
2,10013,Olivares Santana,1001,Colonia,20010,21.894022,-102.313606
3,10014,Las Brisas,1001,Fraccionamiento,20010,21.894022,-102.313606
4,10015,Ramon Romo Franco,1001,Fraccionamiento,20010,21.894022,-102.313606

In [61]:
# remove spaces from columns names and "'" from data
colonias_df.columns = colonias_df.columns.str.replace(' ', '')

In [62]:
len(colonias_df)

143852

In [64]:
# look at columns types
colonias_df.dtypes

id                 int64
nombre            object
municipio          int64
asentamiento      object
codigo_postal      int64
latitud          float64
longitud         float64
dtype: object

In [65]:
municipios_df = pd.read_csv('./Resources/municipios.csv')
municipios_df.columns = municipios_df.columns.str.replace(' ', '')
municipios_df.head()

     id           nombre  estado  cp_min  cp_max        huso_horario
0  1001   Aguascalientes       1   20000   20396   Tiempo del Centro
1  1002         Asientos       1   20700   20799   Tiempo del Centro
2  1003         Calvillo       1   20800   20890   Tiempo del Centro
3  1004            Cosío       1   20460   20478   Tiempo del Centro
4  1005      Jesús María       1   20900   20997   Tiempo del Centro

In [66]:
len(municipios_df)

2465

In [67]:
municipios_df.dtypes

id               int64
nombre          object
estado           int64
cp_min           int64
cp_max           int64
huso_horario    object
dtype: object

In [68]:
colonias_df['nombreMun'] = colonias_df['municipio'].map(municipios_df.set_index('id')['nombre'])
colonias_df.head()

,id,nombre,municipio,asentamiento,codigo_postal,latitud,longitud,nombreMun
0,10011,Zona Centro,1001,Colonia,20000,21.881191,-102.296143,Aguascalientes
1,10012,Colinas del Rio,1001,Fraccionamiento,20010,21.894022,-102.313606,Aguascalientes
2,10013,Olivares Santana,1001,Colonia,20010,21.894022,-102.313606,Aguascalientes
3,10014,Las Brisas,1001,Fraccionamiento,20010,21.894022,-102.313606,Aguascalientes
4,10015,Ramon Romo Franco,1001,Fraccionamiento,20010,21.894022,-102.313606,Aguascalientes

In [69]:
len(colonias_df)

143852

In [70]:
estados_df = pd.read_csv('./Resources/estados.csv')
estados_df.columns = estados_df.columns.str.replace(' ', '')
estados_df.head()

   clave                 nombre abreviacion  cp_min  cp_max
0      1         Aguascalientes         AGU   20000   20999
1      2        Baja California         BCN   21000   22999
2      3    Baja California Sur         BCS   23000   23999
3      4               Campeche         CAM   24000   24999
4      5   Coahuila de Zaragoza         COA   25000   27999

In [71]:
estados_df.dtypes

clave           int64
nombre         object
abreviacion    object
cp_min          int64
cp_max          int64
dtype: object

In [76]:
colonias_df['entidad'] = colonias_df['codigo_postal'].map(lambda x: estados_df.set_index('id')['nombre'] if x >= estados_df.set_index('clave')['cp_min'] and x <= estados_df.set_index('clave')['cp_min'])

SyntaxError: invalid syntax (Temp/ipykernel_2916/1839228636.py, line 1)

In [98]:
estadoColumn = []
for index, row in colonias_df.iterrows():
    for jndex, row2 in estados_df.iterrows():
        if row["codigo_postal"] >= row2["cp_min"] and row["codigo_postal"] <= row2["cp_max"]:
            estadoColumn.append(row2["nombre"])

In [100]:
len(estadoColumn)

143852

In [103]:
colonias_df['estado'] = estadoColumn
colonias_df.head()

,id,nombre,municipio,asentamiento,codigo_postal,latitud,longitud,nombreMun,estado
0,10011,Zona Centro,1001,Colonia,20000,21.881191,-102.296143,Aguascalientes,Aguascalientes
1,10012,Colinas del Rio,1001,Fraccionamiento,20010,21.894022,-102.313606,Aguascalientes,Aguascalientes
2,10013,Olivares Santana,1001,Colonia,20010,21.894022,-102.313606,Aguascalientes,Aguascalientes
3,10014,Las Brisas,1001,Fraccionamiento,20010,21.894022,-102.313606,Aguascalientes,Aguascalientes
4,10015,Ramon Romo Franco,1001,Fraccionamiento,20010,21.894022,-102.313606,Aguascalientes,Aguascalientes

In [109]:
file = "./Resources/locationsMexico.csv"
colonias_df.to_csv(file, index=False)