In [2]:
# import dependencies
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.preprocessing import OneHotEncoder

In [7]:
# SQLAlchemy
from sqlalchemy import create_engine

In [8]:
# Load data SQLITE
database_path = "Resources/final_data.db"

# Create engine
engine = create_engine(f"sqlite:///{database_path}")

# Make connection to SQL database
conn = engine.connect()

# CHECK TABLE NAME FROM SQL

# Query all records into Dataframe
prices_df = pd.read_sql("SELECT * FROM ", conn)

OperationalError: (sqlite3.OperationalError) incomplete input
[SQL: SELECT * FROM ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [19]:
# Load data CSV
file_path = Path('Resources/reporteTecno.csv')
prices_df = pd.read_csv(file_path)
prices_df.head()

,id,entidad,colonia,municipio,codigo_postal,tipo,m2Terreno,m2Construccion,recamaras,banos,medio_bano,estacionamientos,pisos,antiguedad,cuotaMantto,precioSalida,precioVenta
0,10293,CIUDAD DE MEXICO,Del Valle Norte,Benito Juárez,3103,TERRENO,421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000000,17000000
1,11382,CIUDAD DE MEXICO,Mixcoac,Benito Juárez,3910,TERRENO,385.12,NaN,NaN,NaN,NaN,NaN,NaN,Mas de 30,NaN,18500000,17000000
2,13132,CIUDAD DE MEXICO,Portales Sur,Benito Juárez,3300,CASA,207,230.0,4.0,2.0,NaN,3.0,1.0,Mas de 30,NaN,6800000,6000000
3,17107,CIUDAD DE MEXICO,Jardines de Coyoacán,Coyoacán,4890,CASA,482,637.0,4.0,5.0,1.0,6.0,3.0,ENTRE 21 - 30 AÑOS,NaN,15000000,14200000
4,17799,CIUDAD DE MEXICO,Paulino Navarro,Cuauhtémoc,6870,EDIFICIO,542,542.0,NaN,NaN,NaN,NaN,3.0,Mas de 30,NaN,62330000,62330000

In [8]:
prices_df.dtypes

id                    int64
entidad              object
colonia              object
municipio            object
codigo_postal         int64
tipo                 object
m2Terreno            object
m2Construccion      float64
recamaras           float64
banos               float64
medio_bano          float64
estacionamientos    float64
pisos               float64
antiguedad           object
cuotaMantto          object
precioSalida          int64
precioVenta           int64
dtype: object

In [20]:
prices_df = prices_df.drop(["estacionamientos", "antiguedad", "cuotaMantto", "pisos"], axis=1)
prices_df.head()

,id,entidad,colonia,municipio,codigo_postal,tipo,m2Terreno,m2Construccion,recamaras,banos,medio_bano,precioSalida,precioVenta
0,10293,CIUDAD DE MEXICO,Del Valle Norte,Benito Juárez,3103,TERRENO,421,NaN,NaN,NaN,NaN,20000000,17000000
1,11382,CIUDAD DE MEXICO,Mixcoac,Benito Juárez,3910,TERRENO,385.12,NaN,NaN,NaN,NaN,18500000,17000000
2,13132,CIUDAD DE MEXICO,Portales Sur,Benito Juárez,3300,CASA,207,230.0,4.0,2.0,NaN,6800000,6000000
3,17107,CIUDAD DE MEXICO,Jardines de Coyoacán,Coyoacán,4890,CASA,482,637.0,4.0,5.0,1.0,15000000,14200000
4,17799,CIUDAD DE MEXICO,Paulino Navarro,Cuauhtémoc,6870,EDIFICIO,542,542.0,NaN,NaN,NaN,62330000,62330000

In [19]:
# Define features set
X = prices_df.copy()
X = X.drop("precio", axis=1)

In [20]:
# Define target
y = prices_df["precio"].values

In [22]:
prices_cat = prices_df.dtypes[prices_df.dtypes == 'object'].index.tolist()

In [12]:
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [23]:
enc = OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(prices_df[prices_cat]))

encode_df.columns = enc.get_feature_names(prices_cat)
encode_df.head()

MemoryError: Unable to allocate 43.6 GiB for an array with shape (114597, 51039) and data type float64

In [13]:
# Create StandardScaler instance
scaler = StandardScaler()

# Fit Standard Scaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: could not convert string to float: 'http://www.inmuebles24.com/propiedades/edificio-en-venta-en-la-colonia-napoles-50944939.html'

In [ ]:
# Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [ ]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [ ]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))