In [1]:
# import dependencies
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.preprocessing import OneHotEncoder

In [24]:
# Load data CSV
file_path = Path('Resources/reporteTecno.csv')
prices_df = pd.read_csv(file_path, encoding="ISO-8859-1")
prices_df.head()

,id,entidad,colonia,municipio,codigo_postal,tipo,m2Terreno,m2Construccion,recamaras,banos,medio_bano,Baños,estacionamientos,pisos,antiguedad,cuotaMantto,precioSalida,precioVenta
0,10293,CIUDAD DE MEXICO,Del Valle Norte,Benito JuÃ¡rez,3103,TERRENO,421,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,20000000,17000000
1,11382,CIUDAD DE MEXICO,Mixcoac,Benito JuÃ¡rez,3910,TERRENO,385.12,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Mas de 30,NaN,18500000,17000000
2,13132,CIUDAD DE MEXICO,Portales Sur,Benito JuÃ¡rez,3300,CASA,207,230.0,4.0,2.0,NaN,2.0,3.0,1.0,Mas de 30,NaN,6800000,6000000
3,17107,CIUDAD DE MEXICO,Jardines de CoyoacÃ¡n,CoyoacÃ¡n,4890,CASA,482,637.0,4.0,5.0,1.0,5.5,6.0,3.0,ENTRE 21 - 30 AÃOS,NaN,15000000,14200000
4,17799,CIUDAD DE MEXICO,Paulino Navarro,CuauhtÃ©moc,6870,EDIFICIO,542,542.0,NaN,NaN,NaN,0.0,NaN,3.0,Mas de 30,NaN,62330000,62330000

In [5]:
prices_df.dtypes

id                    int64
entidad              object
colonia              object
municipio            object
codigo_postal         int64
tipo                 object
m2Terreno            object
m2Construccion      float64
recamaras           float64
banos               float64
medio_bano          float64
Baños               float64
estacionamientos    float64
pisos               float64
antiguedad           object
cuotaMantto          object
precioSalida          int64
precioVenta           int64
dtype: object

In [25]:
prices_df = prices_df.drop(["estacionamientos", "antiguedad", "cuotaMantto", "banos", "medio_bano", "precioSalida"], axis=1)
prices_df.head()

,id,entidad,colonia,municipio,codigo_postal,tipo,m2Terreno,m2Construccion,recamaras,Baños,pisos,precioVenta
0,10293,CIUDAD DE MEXICO,Del Valle Norte,Benito JuÃ¡rez,3103,TERRENO,421,NaN,NaN,0.0,NaN,17000000
1,11382,CIUDAD DE MEXICO,Mixcoac,Benito JuÃ¡rez,3910,TERRENO,385.12,NaN,NaN,0.0,NaN,17000000
2,13132,CIUDAD DE MEXICO,Portales Sur,Benito JuÃ¡rez,3300,CASA,207,230.0,4.0,2.0,1.0,6000000
3,17107,CIUDAD DE MEXICO,Jardines de CoyoacÃ¡n,CoyoacÃ¡n,4890,CASA,482,637.0,4.0,5.5,3.0,14200000
4,17799,CIUDAD DE MEXICO,Paulino Navarro,CuauhtÃ©moc,6870,EDIFICIO,542,542.0,NaN,0.0,3.0,62330000

In [7]:
# Find null values
for column in prices_df.columns:
    print(f'Column {column} has {prices_df[column].isnull().sum()} null values')

Column id has 0 null values
Column entidad has 1 null values
Column colonia has 1 null values
Column municipio has 1 null values
Column codigo_postal has 0 null values
Column tipo has 0 null values
Column m2Terreno has 691 null values
Column m2Construccion has 90 null values
Column recamaras has 171 null values
Column Baños has 0 null values
Column pisos has 325 null values
Column precioSalida has 0 null values
Column precioVenta has 0 null values

In [10]:
tipo_counts = prices_df.tipo.value_counts()
tipo_counts

DEPARTAMENTO          660
CASA                  494
TERRENO                86
CASA EN CONDOMINIO     45
LOCAL COMERCIAL        28
EDIFICIO               23
OFICINA                16
PENT HOUSE             14
CASA DUPLEX            10
BODEGA                  8
Name: tipo, dtype: int64

In [26]:
prices_df = prices_df.tipo.replace("CASA DUPLEX", "CASA", inplace=True)

In [28]:
prices_df.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [27]:
tipo_counts = prices_df.tipo.value_counts()
tipo_counts

AttributeError: 'NoneType' object has no attribute 'tipo'