In [1]:
# import dependencies
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.preprocessing import OneHotEncoder

In [10]:
# Load data CSV
file_path = Path('Resources/reporteTecno.csv')
prices_df = pd.read_csv(file_path)
prices_df.head()

,id,entidad,colonia,municipio,codigo_postal,tipo,m2Terreno,m2Construccion,recamaras,banos,medio_bano,estacionamientos,pisos,antiguedad,cuotaMantto,precioSalida,precioVenta
0,10293,CIUDAD DE MEXICO,Del Valle Norte,Benito Juárez,3103,TERRENO,421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20000000,17000000
1,11382,CIUDAD DE MEXICO,Mixcoac,Benito Juárez,3910,TERRENO,385.12,NaN,NaN,NaN,NaN,NaN,NaN,Mas de 30,NaN,18500000,17000000
2,13132,CIUDAD DE MEXICO,Portales Sur,Benito Juárez,3300,CASA,207,230.0,4.0,2.0,NaN,3.0,1.0,Mas de 30,NaN,6800000,6000000
3,17107,CIUDAD DE MEXICO,Jardines de Coyoacán,Coyoacán,4890,CASA,482,637.0,4.0,5.0,1.0,6.0,3.0,ENTRE 21 - 30 AÑOS,NaN,15000000,14200000
4,17799,CIUDAD DE MEXICO,Paulino Navarro,Cuauhtémoc,6870,EDIFICIO,542,542.0,NaN,NaN,NaN,NaN,3.0,Mas de 30,NaN,62330000,62330000

In [3]:
prices_df.dtypes

id                    int64
entidad              object
colonia              object
municipio            object
codigo_postal         int64
tipo                 object
m2Terreno            object
m2Construccion      float64
recamaras           float64
banos               float64
medio_bano          float64
estacionamientos    float64
pisos               float64
antiguedad           object
cuotaMantto          object
precioSalida          int64
precioVenta           int64
dtype: object

In [11]:
prices_df = prices_df.drop(["estacionamientos", "antiguedad", "cuotaMantto"], axis=1)
prices_df.head()

,id,entidad,colonia,municipio,codigo_postal,tipo,m2Terreno,m2Construccion,recamaras,banos,medio_bano,pisos,precioSalida,precioVenta
0,10293,CIUDAD DE MEXICO,Del Valle Norte,Benito Juárez,3103,TERRENO,421,NaN,NaN,NaN,NaN,NaN,20000000,17000000
1,11382,CIUDAD DE MEXICO,Mixcoac,Benito Juárez,3910,TERRENO,385.12,NaN,NaN,NaN,NaN,NaN,18500000,17000000
2,13132,CIUDAD DE MEXICO,Portales Sur,Benito Juárez,3300,CASA,207,230.0,4.0,2.0,NaN,1.0,6800000,6000000
3,17107,CIUDAD DE MEXICO,Jardines de Coyoacán,Coyoacán,4890,CASA,482,637.0,4.0,5.0,1.0,3.0,15000000,14200000
4,17799,CIUDAD DE MEXICO,Paulino Navarro,Cuauhtémoc,6870,EDIFICIO,542,542.0,NaN,NaN,NaN,3.0,62330000,62330000

In [14]:
# Find null values
for column in prices_df.columns:
    print(f'Column {column} has {prices_df[column].isnull().sum()} null values')

Column id has 0 null values
Column entidad has 1 null values
Column colonia has 1 null values
Column municipio has 1 null values
Column codigo_postal has 0 null values
Column tipo has 0 null values
Column m2Terreno has 691 null values
Column m2Construccion has 90 null values
Column recamaras has 171 null values
Column banos has 148 null values
Column medio_bano has 921 null values
Column pisos has 325 null values
Column precioSalida has 0 null values
Column precioVenta has 0 null values