In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import sklearn
import os
import seaborn as sns
from path import Path

In [2]:
# Load data CSV
file_path = Path('Resources/merged.csv')
data_df = pd.read_csv(file_path, encoding="utf-8-sig")
data_df.head()

,ID,entidad,tipo,link,precio,municipio_x,colonia,m2Terreno,m2Construccion,estacionamientos,...,antiguedad,id,nombre,municipio_y,asentamiento,codigo_postal,latitud,longitud,nombreMun,estado
0,1425548080,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1425548080-...,6500000.0,Aguascalientes,Los Pocitos,320.0,200.0,2.0,...,2.0,1001563.0,Los Pocitos,1001.0,Ejido,20328.0,21.923098,-102.343269,Aguascalientes,Aguascalientes
1,1397663987,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1397663987-...,1990000.0,Aguascalientes,Puesta del Sol,119.0,112.0,2.0,...,0.0,1001553.0,Puesta del Sol,1001.0,Fraccionamiento,20326.0,21.877844,-102.332252,Aguascalientes,Aguascalientes
2,1398422703,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1398422703-...,2750000.0,Aguascalientes,La Cantera,178.0,163.0,2.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1413775652,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1413775652-...,3000000.0,Aguascalientes,Ejido El Refugio de Peñuelas,640.0,150.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1411133552,Aguascalientes,casas,https://casa.metroscubicos.com/MLM-1411133552-...,1280000.0,Aguascalientes,Real De Haciendas,75.0,135.0,1.0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_df = data_df.drop(['ID', 'link', 'colonia', 'mantenimiento', 'symbol', 'id', 'nombre', 'municipio_y', 'asentamiento', 'codigo_postal', 'nombre', 'nombreMun', 'estado'], axis=1)

In [4]:
data_df.tipo.value_counts()

casas            120278
terrenos           2005
departamentos      1893
Name: tipo, dtype: int64

In [6]:
depas_df = data_df.loc[(data_df['tipo'] == 'departamentos')]

In [7]:
depas_df = depas_df.drop(['tipo'], axis=1)
depas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 1493 to 121816
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           1893 non-null   object
 1   precio            1893 non-null   float64
 2   municipio_x       1893 non-null   object
 3   m2Terreno         1796 non-null   float64
 4   m2Construccion    1821 non-null   float64
 5   estacionamientos  1107 non-null   float64
 6   Recamaras         1738 non-null   float64
 7   Banos             1805 non-null   float64
 8   antiguedad        1003 non-null   float64
 9   latitud           733 non-null    float64
 10  longitud          733 non-null    float64
dtypes: float64(9), object(2)
memory usage: 177.5+ KB

In [8]:
depas_df = depas_df.drop(['m2Terreno', 'latitud', 'longitud'], axis=1)
depas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 1493 to 121816
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           1893 non-null   object
 1   precio            1893 non-null   float64
 2   municipio_x       1893 non-null   object
 3   m2Construccion    1821 non-null   float64
 4   estacionamientos  1107 non-null   float64
 5   Recamaras         1738 non-null   float64
 6   Banos             1805 non-null   float64
 7   antiguedad        1003 non-null   float64
dtypes: float64(6), object(2)
memory usage: 133.1+ KB

In [9]:
depas_df.estacionamientos.value_counts()

1.0      546
2.0      505
3.0       30
4.0       18
5.0        2
10.0       1
8.0        1
12.0       1
14.0       1
6.0        1
235.0      1
Name: estacionamientos, dtype: int64

In [10]:
depas_df.Recamaras.value_counts()

2.0     931
3.0     461
1.0     293
4.0      26
6.0       6
7.0       6
5.0       5
8.0       3
10.0      3
12.0      2
30.0      1
14.0      1
Name: Recamaras, dtype: int64

In [11]:
depas_df.Banos.value_counts()

2.0     1054
1.0      445
3.0      216
4.0       64
5.0       12
6.0        7
10.0       3
7.0        2
20.0       1
32.0       1
Name: Banos, dtype: int64

In [12]:
depas_df.drop(depas_df[depas_df['estacionamientos'] == 235].index, inplace=True)
depas_df.drop(depas_df[depas_df['Recamaras'] == 30].index, inplace=True)
depas_df.drop(depas_df[depas_df['Banos'] >= 20].index, inplace=True)
depas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1890 entries, 1493 to 121816
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           1890 non-null   object
 1   precio            1890 non-null   float64
 2   municipio_x       1890 non-null   object
 3   m2Construccion    1819 non-null   float64
 4   estacionamientos  1105 non-null   float64
 5   Recamaras         1735 non-null   float64
 6   Banos             1802 non-null   float64
 7   antiguedad        1001 non-null   float64
dtypes: float64(6), object(2)
memory usage: 132.9+ KB

In [13]:
depas_df.antiguedad.value_counts()

0.0       881
1.0        55
2.0        17
5.0        12
3.0         9
20.0        7
4.0         4
7.0         4
6.0         3
15.0        2
10.0        2
30.0        1
9.0         1
2018.0      1
2022.0      1
40.0        1
Name: antiguedad, dtype: int64

In [14]:
depas_df = depas_df.replace({2018.0:4, 2022.0:0})

In [16]:
depas_df['Banos'] = depas_df['Banos'].fillna(0)
depas_df['estacionamientos'] = depas_df['estacionamientos'].fillna(0)
depas_df['Recamaras'] = depas_df['Recamaras'].fillna(0)

In [17]:
depas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1890 entries, 1493 to 121816
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           1890 non-null   object
 1   precio            1890 non-null   float64
 2   municipio_x       1890 non-null   object
 3   m2Construccion    1819 non-null   float64
 4   estacionamientos  1890 non-null   float64
 5   Recamaras         1890 non-null   float64
 6   Banos             1890 non-null   float64
 7   antiguedad        1001 non-null   float64
dtypes: float64(6), object(2)
memory usage: 132.9+ KB

In [18]:
depas_df.antiguedad.value_counts()

0.0     882
1.0      55
2.0      17
5.0      12
3.0       9
20.0      7
4.0       5
7.0       4
6.0       3
15.0      2
10.0      2
30.0      1
9.0       1
40.0      1
Name: antiguedad, dtype: int64

In [19]:
depas_df['antiguedad'] = depas_df['antiguedad'].fillna(0)

In [20]:
depas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1890 entries, 1493 to 121816
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   entidad           1890 non-null   object
 1   precio            1890 non-null   float64
 2   municipio_x       1890 non-null   object
 3   m2Construccion    1819 non-null   float64
 4   estacionamientos  1890 non-null   float64
 5   Recamaras         1890 non-null   float64
 6   Banos             1890 non-null   float64
 7   antiguedad        1890 non-null   float64
dtypes: float64(6), object(2)
memory usage: 132.9+ KB

In [21]:
depas_df = depas_df.dropna()

In [22]:
from sklearn.preprocessing import LabelEncoder
# Use labelencoder to convert tipo into integers
depas_df['entidad'] = LabelEncoder().fit_transform(depas_df['entidad'])
depas_df['municipio_x'] = LabelEncoder().fit_transform(depas_df['municipio_x'])

In [23]:
corr_matrix = depas_df.corr()
corr_matrix['precio'].sort_values(ascending=False)

precio              1.000000
estacionamientos    0.022523
Banos               0.020821
entidad             0.018767
municipio_x         0.007065
antiguedad         -0.007738
m2Construccion     -0.012179
Recamaras          -0.018452
Name: precio, dtype: float64

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(depas_df)
scaled_data = scaler.transform(depas_df)
transformed_scaled_data = pd.DataFrame(scaled_data, columns=depas_df.columns)
transformed_scaled_data.head()

,entidad,precio,municipio_x,m2Construccion,estacionamientos,Recamaras,Banos,antiguedad
0,-2.083427,-0.054084,-2.01975,4.484472,1.05066,-0.025074,0.098026,-0.145558
1,-2.083427,-0.061322,-2.01975,-0.242213,1.05066,-0.025074,0.098026,-0.145558
2,-2.083427,-0.061322,-2.01975,-0.242213,1.05066,-0.025074,0.098026,-0.145558
3,-2.083427,-0.059029,-2.01975,-0.234523,1.05066,-0.025074,0.098026,-0.145558
4,-2.083427,-0.059029,-2.01975,-0.234523,1.05066,-0.025074,0.098026,-0.145558

In [25]:
# Define target
y = transformed_scaled_data['precio']
X = transformed_scaled_data.drop(columns='precio')

In [26]:
from sklearn import preprocessing
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)
from sklearn.model_selection import train_test_split
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, test_size=0.2, random_state=1)

In [27]:
from sklearn.preprocessing import StandardScaler
# Create StandardScaler instance
scaler = StandardScaler()
# Fit Standard Scaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
from sklearn.ensemble import RandomForestClassifier
# Creating the decision tree classifier instance
model = RandomForestClassifier(n_estimators=200, random_state=1)

# Fitting the model
model = model.fit(X_train_scaled, y_train)

In [29]:
# Making predictions
predictions = model.predict(X_test_scaled)

In [30]:
from sklearn.metrics import accuracy_score
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
acc_score

0.11263736263736264